<header>
  <h1>Connect 4</h1>
</header>
<div class="game_board">
  <canvas id="stage" width="420" height="360"></canvas>
  {{#if playing}}
    <div class="winner_screen hidden" id="computer_move">
      <div class="center_text">
        <p class="yellow">The computer is thinking</p>
      </div>
    </div>
    <div class="winner_screen hidden" id="your_turn">
      <div class="center_text">
        <p class="red">Your turn</p>
      </div>
    </div>
    {{#if winner}}
      <div class="winner_screen">
        <p class={{ winner }}>{{ winner }}</p>
        <p>won!</p>
      </div>
    {{/if}}
    {{#if draw}}
      <div class="winner_screen">
        <p>We'll call it a draw.</p>
      </div>
    {{/if}}
  {{else}}
    <div class="winner_screen">
      <p>Are you ready to start?</p>
    </div>
  {{/if}}
</div>
{{#if playing}}
  <button {{action "start"}} class="restart">Restart</button>
{{else}}
  <button {{action "start"}}>Start</button>
{{/if}}
