{{yield}}
{{#if playing}}
  {{#if correct}}
    <div class="text-center">Yes! is only took me {{guesses}} guesses.</div>
    <div class="text-center">Do you wan to <button {{action "start"}}>play again?</button></div>
    <div class="text-center">
      {{input value=player_name placeholder="Your Name"}}
      <button {{action "save-highscore"}}>Save Highscore!</button>
    </div>
  {{else}}
    <div class="guesses">Number of Guesses: {{guesses}}</div>
    <div class="text-center comp-guess">Is it {{guessValue}}?</div>
    <div class="text-center player-action">
      <button {{action "lower"}}>Lower</button>
      <button {{action "correct"}}>Correct</button>
      <button {{action "higher"}}>Higher</button>
    </div>
    <div class="text-center"><button {{action "reset"}}>Reset</button></div>
  {{/if}}
{{else}}
  <div className="text-center">
    Think of a number between 1 and 100 and then press
    <button {{ action "start" }}>
      Start!
    </button>
  </div>
{{/if}}